.fr{float: right;}

.fl{float: left; display: block;}

.clear{ clear: both; }



.left{width: 20%;}

.right{right: 80%;}

.head{ height: 50px; position: relative;width: 100%; }

.yz{ width: 120px; }



#verify_img{  margin-left: 30px; }

.zh{ margin-left: 100px; color:#f00; }





.tree {

  min-height:20px;

  padding:19px;

  margin-bottom:20px;

  background-color:#fbfbfb;

 

  -webkit-border-radius:4px;

  -moz-border-radius:4px;

  border-radius:4px;

  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)

}

.tree li {

  list-style-type:none;

  margin:0;

  padding:10px 5px 0 5px;

  position:relative

}

.tree li::before, .tree li::after {

  content:'';

  left:-20px;

  position:absolute;

  right:auto

}

.tree li::before {

  border-left:1px solid #999;

  bottom:50px;

  height:100%;

  top:0;

  width:1px

}

.tree li::after {

  border-top:1px solid #999;

  height:20px;

  top:25px;

  width:25px

}

.tree li span {

  -moz-border-radius:5px;

  -webkit-border-radius:5px;

  border:1px solid #999;

  border-radius:5px;

  display:inline-block;

  padding:3px 8px;

  text-decoration:none

}

.tree li.parent_li>span {

  cursor:pointer

}

.tree>ul>li::before, .tree>ul>li::after {

  border:0

}

.tree li:last-child::before {

  height:30px

}

.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {

  background:#eee;

  border:1px solid #94a0b4;

  color:#000

}





.controllerbut{margin-bottom: 20px ;}



.ssort{ width: 30px; }



@-moz-document url-prefix() {

select.form-control {

-moz-appearance: none;

appearance: none;

background-image: url("../image/buy-other-down.png");

background-repeat: no-repeat;

background-position: calc(100% - 7px) 50%;

background-size: 15% auto;

border-radius:3px;

padding:0;



}

}



.suolue{



   border: 1px solid #f0f0f0;

   width: 30px;

   height: 30px;

}

.dingwei{position: relative;}

.suolueft{ border: 1px solid #000; position: absolute;  top: 0; left: 50px; width: 100px; height: 100px; display: none;}



.suolue:hover + .suolueft{display: block;}

.filec{ padding:10px 0px 10px 0px;  border: none; }

.fileimg{border: 1px solid #f0f0f0; }