        <div class="col-sm-3 col-md-2 sidebar gaoliang">
          <ul class="nav nav-sidebar">
            <li  ><a href="{:url('admin/system/index')}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 系统设置 <span class="sr-only"></span></a></li>
            
            <li><a href="{:url('/admin/others')}"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> 其他设置</a></li>
            <li><a href="{:url('/admin/slide')}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 首页幻灯片</a></li>
            <li><a href="{:url('/admin/page')}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 单篇文章</a></li>
            <li><a href="{:url('/admin/gbook')}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 建议反馈</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{:url('/admin/productcate')}">  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 产品分类</a></li>
            <li><a href="{:url('/admin/productlist')}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> 产品列表</a></li>
            <li><a href="{:url('/admin/articlecate')}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 文章分类</a></li>
            <li><a href="{:url('/admin/articlelist')}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 文章列表</a></li>
            <li><a href="{:url('/admin/imagecate')}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 图片分类</a></li>
            <li><a href="{:url('/admin/imagelist')}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> 图片列表</a></li>
            <li><a href="{:url('/admin/downcate')}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 下载分类</a></li>
            <li><a href="{:url('/admin/downlist')}"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 下载列表</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li style="display:none"><a href="{:url('/admin/productlist/recycle')}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 产品回收站</a></li>
            
            <li><a href="{:url('/admin/user')}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 添加管理员</a></li>
            <li ><a href="{:url('/admin/common/file')}"  ><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;文件管理</a> </li>
          </ul>
        </div>


