<!DOCTYPE html>
<html>
<head>
<title>联系我们-{$system.title}</title>
<meta charset=utf-8 >
<meta name="robots" content="index, follow" >
<meta name="keywords" content="{$system.keywords}" >
<meta name="description" content="{$system.description}" >
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="favicon.ico">

<!-- CSS begin -->

<link rel="stylesheet" type="text/css" href="__home__/css/style.css" >
<link rel="stylesheet" type="text/css" href="__home__/css/skeleton.css" >
<link rel="stylesheet" type="text/css" href="__home__/css/jquery.fancybox-1.3.4.css"  >
<link rel="stylesheet" href="__home__/css/switcher/style.css">
<link rel="stylesheet" href="__home__/css/layout/wide.css" id="layout">
<link rel="stylesheet" href="__home__/css/colors/yellow.css" id="colors">
<link rel="stylesheet" href="__home__/css/box.css" id="colors">

<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="__home__/css/ie-warning.css" ><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" media="screen" href="__home__/css/style-ie.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="__home__/css/ei8fix.css" ><![endif]-->

<!-- CSS end -->

<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

</head>
<body>
<div id="wrap" class="boxed">
  <div class="grey-bg"> <!-- Grey bg  --> 
    
    <!-- HEADER -->
    {include file="public:header" /}
    
    <!-- PAGE TITLE -->
    <div class="container m-bot-35 clearfix">
      <div class="sixteen columns">
        <div class="page-title-container clearfix">
          <h1 class="page-title">联系我们</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Grey bg end --> 
  
  <!-- CONTACT FORM-->
  <div class="container clearfix">
    <div class="twelve columns  m-bot-35">
      <div class="caption-container-main m-bot-30">
        <div class="caption-text-container">信息反馈</div>
        <div class="content-container-white caption-bg "></div>
      </div>
      <div class="contact-form-container">
        <form action="" id="contact-form" method="post" class="clearfix">
          <fieldset class="field-1-3 left">
            <label>Name</label>
            <input type="text" name="name" id="Myname" onblur="if(this.value=='')this.value='姓名';" onfocus="if(this.value=='姓名')this.value='';" value="姓名" class="text requiredField m-bot-20" >
          </fieldset >
          <fieldset class="field-1-3 left">
            <label>Email</label>
            <input type="text" name="email" id="myemail"   onblur="if(this.value=='')this.value='邮箱';" onfocus="if(this.value=='邮箱')this.value='';" value="邮箱"  class="text requiredField email m-bot-20" >
          </fieldset>
          <fieldset class="field-1-3 left">
            <label>Subject</label>
            <input type="text" name="subject" id="mySubject"  onblur="if(this.value=='')this.value='问题';" onfocus="if(this.value=='问题')this.value='';" value="问题" class="text requiredField subject m-bot-20" >
          </fieldset>
          <fieldset class="field-1-1 left">
            <label>Message</label>
            <textarea name="message" id="Mymessage" rows="5" cols="30" class="text requiredField" onblur="if(this.value=='')this.value='备注';" onfocus="if(this.value=='备注')this.value='';"   >备注</textarea>
          </fieldset>
          <fieldset class="right m-t-min-1">
            <input name="Mysubmitted" id="Mysubmitted" value="提交" class="button medium" type="submit" >
          </fieldset>
        </form>
      </div>
    </div>
    
    <!-- SIDEBAR -->
    <div class="four columns  m-bot-25">
      <div class="caption-container-main m-bot-30">
        <div class="caption-text-container">联系方式</div>
        <div class="content-container-white caption-bg "></div>
      </div>
      <div style="line-height:25px;"> 地址：浙江省乐清市白石合湖工业区<br>
        电话：0577-61717980<br>
        传真：0577-61717985<br>
        手机：17757791181<br>
        QQ：1595365304<br>
        邮箱：sales@jacpack.com<br>
        网址：www.jacpack.cn</div>        
    </div>
    <div id="map" style="width:100%; height:400px; "></div>
  </div>
  
  <!-- LATEST WORK --> 
  
  <!-- FOOTER -->

   {include file="public:foot" /}
  <p id="back-top"> <a href="#top" title="Back to Top"><span></span></a> </p>
</div>
<!-- End wrap --> 
<!-- JS begin --> 

<script type="text/javascript" src="__home__/js/jquery-1.8.3.min.js"></script> 
<script type="text/javascript" src="__home__/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="__home__/js/superfish.js"></script> 
<script type="text/javascript" src="__home__/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="__home__/js/jquery.jcarousel.js"></script> 
<script type="text/javascript" src="__home__/js/jquery.fancybox-1.3.4.pack.js"></script> 
<script type="text/javascript" src="__home__/js/jQuery.BlackAndWhite.min.js"></script> 
<script type="text/javascript" src="__home__/js/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__home__/js/jflickrfeed.min.js"></script> 
<script type="text/javascript" src="__home__/js/jquery.quicksand.js"></script> 
<script type="text/javascript" src="__home__/js/main.js"></script> 
<script type="text/javascript" src="__home__/js/jquery-cookie.js"></script> 
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=KcuPrtmlz5QZHA8PRPAnhaxF"></script> 
<script type="text/javascript">
$(function(){
	var map = new BMap.Map("map");
	var point = new BMap.Point(120.875277,28.092361);
	map.centerAndZoom(point,19);
	var  mapStyle = {style:""};
	map.setMapStyle(mapStyle);
	map.addControl(new BMap.NavigationControl());
	var pt = new BMap.Point(120.875277,28.092361);
	var icon = new BMap.Icon("__home__/images/icon_map.png", new BMap.Size(72,81), {'anchor':new BMap.Size(16,81)});
	var marker = new BMap.Marker(pt,{icon:icon});
	map.addOverlay(marker);  
});  
</script> 

<!-- JS end -->
  <script type="text/javascript">
    
    $(".sf-menu li:eq(10)").addClass("current");
  </script>
</body>
</html>
